#task-list-div {
    margin: 5% auto;
    width: 50%;
}

#header-span p, button{
    display: inline;
    margin: 5px;
}

#task-list-div li {
    list-style-type: none;
    margin: 10px;
}

#add-new-task-input {
    height: 17px;
    width: 200px;
}

#task-list-div textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 15px;
    width: 200px;
}

#task-list {
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
}

#add-new-task-input {
    margin-left: 30px;
}